:root {
    font-size: 20px;
}

body {
    margin: 0;
    background-color: rgb(239, 244, 248);
}

img {
    vertical-align: middle;
}

header {
    /* display: flex; */
 justify-content: space-between;
    align-items: center; 
} 

#nuit {
    position: relative;
    box-shadow: 0px 5px 2px black;



}

#text1 {
    position: absolute;
    color: aliceblue;
    font-family: cursive;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 60%;



}

.one,
.two,
.three,
.four {
    display: flex;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.193);
    height: 50px;
    margin: 10px;
    text-align: center;
    align-items: center;
}

.four {
    background-color: rgb(201, 228, 247);
}

h1 {
    text-align: center;
    font-family: "roboto";
    color: rgb(20, 56, 109)
}

h2 {
    text-align: center;

}

a{text-decoration: none;}

.hotel {
    position: relative;
    width: 50%;
    padding: 2%;
    box-shadow: 5px 5px 5px grey;
}

#photo {
    text-align: center;
}

a {
    text-decoration: none;
}

.navbar {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(252, 252, 252);
}

.navbar-links {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    color: rgb(255, 255, 255);
    background-color: black;
    width: 0;
    z-index: 1;
    transition: all .5s ease-in-out;
    padding: 0;
    border: none;
    overflow: hidden;
    text-align: center;
}

.show-nav .navbar-links {
    width: 100%;
    transition: all .5s ease-in-out;
    border-style: solid;
    border-top: none;
}

.navbar-link a {
    display: block;
    padding: 1rem;
    font-size: 1.2rem;
    color: white;

}



.burger {
    display: block;

    padding: 0;
    width: 45px;
    height: 45px;

    border: none;
    background: transparent;
    cursor: pointer;
}

.barre {
    position: relative;
    display: block;
    width: 45px;
    height: 4px;
    background-color: blue;
    border-radius: 3px;
    transition: all .5s ease-in-out;
}

.barre::before,
.barre::after {
    content: "";
    width: 45px;
    height: 4px;
    position: absolute;
    left: 0;
    background-color: blue;
    border-radius: 3px;
    transition: all .5s ease-in-out;
}

.barre::before {
    transform: translateY(-12px);

}

.show-nav .barre::before {
    transform: rotate(45deg);
}

.barre::after {
    transform: translateY(12px);

}

.show-nav .barre::after {
    transform: rotate(-45deg);
}

.show-nav .barre {
    background-color: transparent;
}

.navbar-titre {
    font-size: 2rem;
    color: white;

}

/* Pop-up */
*,
*::after,
*::before {
    box-sizing: border-box;
}

.menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.menu.active {
    transform: translate(-50%, -50%) scale(1);
}

.menu-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.menu-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.menu-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.menu-body {
    padding: 10px 15px;
}

.diapo {
    width: 80%;
    margin: auto;
    position: relative;
}

.diapo img {
    width: 100%;
}


.gauche,
.droite {
    color: azure;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.droite {
    right: 0;
}

.texte {
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
}

p {
    text-align: center;
}

@media screen and (min-width: 739px) and (orientation: landscape) {
    :root {
        font-size: 25px;
    }

    #text1 {
        font-size: 40px;
    }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
    #text1 {
        font-size: 100px;
    }
}
